* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
}
.header-bg {
  background: url('https://images.unsplash.com/photo-1562813733-b31f71025d54?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80');
  background-position: center;
  background-size: cover;
  flex: 4;
}
.header {
  font-size: 2.2rem;
  padding: 8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.877);
}
.header-info h1 {
  letter-spacing: 0.3rem;
  font-weight: 300;
  margin: 40rem 0 2rem 0;
}
.header-info p {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  color: #79727c;
}
.social-icons {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.social-icons i {
  margin-right: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.social-icons i:hover {
  color: #0662dbc5;
  transform: translateY(-0.4rem);
}
.form-background {
  background: #1c1e21;
  flex: 2;
  color: white;
  padding: 4rem 8rem;
}
.form-background i {
  margin-bottom: 2rem;
  font-size: 2rem;
}
.form-background h1 {
  font-weight: normal;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.form-background p {
  font-size: 1.4rem;
  color: #79727c;
  margin-bottom: 2rem;
}
.form-group {
  position: relative;
}
.input-box {
  color: aliceblue;
  background-color: transparent;
  padding: 1.3rem;
  padding-left: 3rem;
  width: 100%;
  border: 0.2rem solid rgba(128, 128, 128, 0.295);
  border-radius: 0.4rem;
}
.error {
  color: rgba(238, 76, 12, 0.589);
  /* text-align: center; */
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  background: rgba(15, 4, 4, 0.295);
}
.error-none {
  text-align: center;
  display: block;
  height: 2.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.radio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #79727c;
}
.radio-btn label {
  margin-left: 0.8rem;
}
.radio-group {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.btn {
  margin-top: 2rem;
  width: 100%;
  color: #fff;
  background: #0662dbc5;
  border: none;
  outline: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  transform: translateY(-0.2rem);
}
.btn:active {
  transform: translateY(0.2rem);
}
.footer {
  text-align: center;
  margin-top: 2rem;
}
.footer h3 {
  color: #79727c;
  font-weight: normal;
  font-size: 1.3rem;
}

.footer-login {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.footer-login i {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 0.1rem solid rgba(128, 128, 128, 0.651);
  transition: all 0.2s ease-in-out;
}
.footer-login i:hover {
  background: #0662dbc5;
}
.footer span {
  cursor: pointer;
  color: #0662dbc5;
}
.submitted {
  font-size: 1.7rem;
  background: rgba(0, 128, 0, 0.733);
  padding: 1rem;
  text-align: center;
  border-radius: 0.8rem;
}
@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .header {
    font-size: 2rem;
    padding: 4rem 4rem;
  }
  .header-info h1 {
    letter-spacing: 0.3rem;
    font-weight: 300;
    margin: 30rem 0 2rem 0;
  }
  .form-background {
    padding: 4rem;
  }
}
